body {
  color: #dddddd;
  background-color: #000000;
  font-family: "ITC Avant Garde Gothic", "Century Gothic", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: smaller;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
}

table tr td, table tr th {
  border-right: 1px solid #222;
}

table tr th {
  border-bottom: 1px solid #777;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}

table tr:nth-child(odd) th, table tr:nth-child(odd) td {
  background-color: #171717;
}

table tr:nth-child(even) th, table tr:nth-child(even) td {
}

thead th {
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #171717;
}

tr.totals-row td {
  position: sticky;
  bottom: 0;
  background-color: #171717;
}

.hidden {
  display: none !important;
}

.gold {
  color: #f5a800;
}

.green {
  color: #00d700;
}

.lightgreen {
  color: #9fc400;
}

.lightred {
  color: #e8567b;
}

.red {
  color: #e80000;
}

.median_time_went_down {
  color: #000000;
  background-color: #00af00;
}

.median_time_went_up {
  color: #000000;
  background-color: #af0000;
}

.best_time_went_down {
  color: #000000;
  background-color: #ffaf00;
}

.sum_of_best_times_went_down {
  color: #000000;
  background-color: #ffaf00;
}


th.time {
  text-align: right;
}

th.time-type {
  padding-left: 1em;
}

th.numeric {
  text-align: right;
}

td.time {
  text-align: right;
}

td.time-type {
  padding-left: 1em;
}

td.numeric {
  text-align: right;
}

#help {
  display: block;
  background-color: #262626;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 2;
}

.main-view {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  top: 0;
  left: 0;
  padding: 0.5em;
}

.top-panel {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 0.5px);
  overflow: scroll;
}

.gutter {
  flex-grow: 0;
  flex-shrink: 0;
  height: 1px;
  overflow: visible;
  background-color: #dddddd;
}

.bottom-panel {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(50% - 0.5px);
  overflow: scroll;
}

.hide-scrollbars: {
  /* TODO:
   *
   * This fails to hide scrollbars in firefox; apparently I must set
   * scrollbar-width on .top-panel and .bottom-panel instead.  I'm not
   * sure why?
   */
  scrollbar-width: none;
}

.hide-scrollbars::-webkit-scrollbar {
  display: none;
}
