body {
  color: #dddddd;
  background-color: #000000;
  font-family: "ITC Avant Garde Gothic", "Century Gothic", Calibri, Candara, Segoe, "Segoe UI", Optima, Arial, sans-serif;
  font-size: 10pt;
}

table {
  width: 100%;
  border-collapse: collapse;
  padding: 0;
}

table tr td, table tr th {
  border-right: 1px solid #222222;
  vertical-align: top;
}

table tr th {
  border-bottom: 1px solid #777777;
}

table tr td:last-child, table tr th:last-child {
  border-right: 0;
}

table tbody tr:nth-child(odd) th, table tbody tr:nth-child(odd) td {
  background-color: #0c0c0c;
}

table tbody tr:nth-child(even) th, table tbody tr:nth-child(even) td {
}

thead th {
  text-align: left;
  position: sticky;
  top: 0;
  background-color: #171717;
  border: 0 !important;
  z-index: 2;
}

tfoot td {
  position: sticky;
  bottom: 0;
  background-color: #171717;
  z-index: 2;
}

div.top-shadow thead::after {
  content: '';
  position: fixed;
  left: 0;
  width: 100%;
  height: 3em;
  box-shadow: inset 0em 1em 1em 0em #000000;
  z-index: 1;
}

div.bottom-shadow tfoot::before {
  /* TODO: is there a way to position relative to the top of the footer
   * instead of the bottom of the table?
   *
   * Setting a transform on the tfoot should do it, but makes the shadow
   * disappear.
   */
  content: '';
  position: fixed;
  left: 0;
  bottom: 2.8em;
  width: 100%;
  height: 3em;
  box-shadow: inset 0em -1em 1em 0em #000000;
  z-index: 1;
}

.hidden {
  display: none !important;
}

.gold {
  color: #f5a800;
}

.green {
  color: #00d700;
}

.lightgreen {
  color: #9fc400;
}

.lightred {
  color: #e8567b;
}

.red {
  color: #e80000;
}

.median-time-went-down {
  color: #ffffff;
  background-color: #00af00;
}

.median-time-went-up {
  color: #ffffff;
  background-color: #af0000;
}

.best-time-went-down {
  color: #ffffff;
  background-color: #ffaf00;
}

.sum-of-best-times-went-down {
  color: #000000;
  background-color: #ffaf00;
}

th div.time {
  text-align: right;
}

th div.time-type {
  padding-left: 1em;
}

th div.numeric {
  text-align: right;
}

td div.time {
  text-align: right;
}

td div.time-type {
  padding-left: 1em;
}

td div.numeric {
  text-align: right;
}

#help {
  display: block;
  background-color: #262626;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 100;
}

#room-history {
  display: flex;
  flex-direction: column;
  background-color: #262626;
  position: absolute;
  width: 80%;
  height: 80%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 1em;
  z-index: 100;
  box-shadow: 0.5em 0.5em 1em black;
}

#room-history-label {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: auto;
}

#room-history-table {
  flex-grow: 1;
  flex-shrink: 1;
  flex-basis: auto;
  background-color: #000000;
  overflow: auto;
}

.link {
  cursor: pointer;
}

.main-view {
  display: flex;
  position: absolute;
  flex-direction: column;
  width: calc(100vw - 1em);
  height: calc(100vh - 1em);
  top: 0;
  left: 0;
  padding: 0.5em;
}

.top-panel {
  flex-grow: 1;
  flex-shrink: 0;
  flex-basis: calc(50% - 0.5px);
  overflow: scroll;
}

.gutter {
  flex-grow: 0;
  flex-shrink: 0;
  height: 1px;
  overflow: visible;
  background-color: #dddddd;
}

.bottom-panel {
  flex-grow: 0;
  flex-shrink: 1;
  flex-basis: calc(50% - 0.5px);
  overflow: scroll;
}

.top-panel, .bottom-panel {
  scrollbar-width: none;
}

.top-panel::-webkit-scrollbar, .bottom-panel::-webkit-scrollbar {
  display: none;
}

#room-history-close-button {
  position: absolute;
  top: 0.5em;
  right: 0.5em;
}

#room-history-close-button::before {
  display: inline-block;
  color: #ffffff;
  content: "\2715";
  cursor: pointer;
  opacity: 0.3;
}

#room-history-close-button:hover::Before {
  opacity: 1;
}

#room-history-chart {
  background-color: black;
  margin-bottom: 1em;
}

#room-history-chart .axis {
  display: none;
}

#room-history-chart .line {
  stroke-width: 2.0;
  stroke: white;
  fill: none;
  vector-effect: non-scaling-stroke;
}
